<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UBCNet - Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <div class="header-container">
        <div class="site-title">
            <h1>UBCNet</h1>
        </div>
        <nav class="nav-links">
            <a href="/">Home</a>
            <a href="/announcements">Announcements</a>
            <a href="/housing">Housing</a>
            <a href="/shop">Shop</a>
            <a href="/post">Post</a>
        </nav>
    </div>
</header>
<main>
    <!-- Search Section -->
    <div class="search">
        <input type="text" placeholder="Search">
    </div>

    <!-- Announcements Section -->
    <h2>Recent Announcements</h2>


    <!-- Other Sections -->
    <div class="main-container">
        <!-- Shop Section -->
        <div class="section shop-section">
            <a href="/shop" class="section-title">Shop</a>
            <ul>
                <li>New Posts</li>
                <li>Viewed Recently</li>
                <li>You Might Like</li>
            </ul>
        </div>
        <div class="section announcements-section">
            <a href="/announcements" class="section-title">Announcements</a>
            <ul>
                <!-- Dynamically display announcements -->
                <li>New Posts</li>
                <li>Viewed Recently</li>
                <li>You Might Like</li>
                <li th:each="announcement : ${announcements}" th:text="${announcement}"></li>
            </ul>
        </div>
        <!-- Housing Section -->
        <div class="section housing-section">
            <a href="/housing" class="section-title">Housing</a>
            <ul>
                <li>New Posts</li>
                <li>Viewed Recently</li>
                <li>You Might Like</li>
            </ul>
        </div>

    </div>
</main>
</body>
</html>
